# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by ndk and eclipse
bin/
obj/
gen/
local.properties

# Ignore vim swaps
*.swp

#no use
import-summary.txt
.idea
build
*.iml
*.gradle
app/build